/* Variables */

:root {
--basic-black: #000000;
--opacity-black: rgba(0,0,0,0.3);

--basic-red: #FB565A;
--hover-red: #E74246;
--active-red: #D7373B;

--basic-green: #00CA74;
--hover-green: #00BC6C;
--active-green: #00AA62;

--basic-yellow: #EFC849;
--hover-yellow: #EAB534;
--active-yellow: #E5A722;

--basic-grey: #EEEEEE;
--hover-grey: #DFDFDF;
--active-grey: #D5D5D5;

--interactive-grey: #A6A6A6;
--text-grey: #283136;
--social-grey: #E1E1E1;
--clarification-grey: #444444;
--additional-grey: #666666;
--toggler-grey: #ABABAB;
--border-grey: #C4C4C4;
--sort-grey: #231F20;
--input-grey: #D7DCDE;
--input-grey-hover: #B4B9BB;

--basic-white: #FFFFFF;
--opacity-white: rgba(255,255,255,0.3);
}

/* Global */

body {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: *var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.non-displayed {
  display: none;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  padding-left: 15px;
  padding-right: 15px;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

/* Button */

.button {
  color: var(--basic-white);
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
  color: var(--opacity-white);
}

/* Header */

.main-header, .slider, h1.page-title {
  background-color: var(--basic-grey);
}

.main-header-logo {
  width: 160px;
  height: 66px;
}

.main-header-logo:active path {
  fill: var(--interactive-grey);
}

/* Main-navigation */

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 78px;
  margin-top: 75px;
}

.site-navigation {
  width: 437px;
  margin: 0;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* User-navigation */

.user-navigation {
  max-width: 150px;
}

.user-navigation .cart {
  padding-left: 50px;
}

.site-navigation a, .cart {
  color: var(--basic-black);
}

.site-navigation a:hover, .cart:hover {
  color: var(--basic-red);
}

.site-navigation a:active, .cart:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Slider */

.slider {
  width: 100%;
}

.slider-item {
  display: none;
}

.slider-item.displayed {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slider-item-text {
  color: var(--text-grey);
}

.slider-item-tagline, .page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

/* Products */

.products {
  border-bottom: 2px solid var(--basic-grey);
}

.products-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 80px;
}

.products-item {s
  width: 300px;
  text-align: left;
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 20px;
}

.products-item p {
  color: var(--text-grey);
  padding-right: 20px;
}

.button-applications {
  background-color: var(--basic-green);
}

.button-applications:hover {
  background-color: var(--hover-green);
}

.button-applications:active {
  background-color: var(--active-green);
  color: var(--opacity-white);
}

.button-presentations {
  background-color: var(--basic-yellow);
}

.button-presentations:hover {
  background-color: var(--hover-yellow);
}

.button-presentations:active {
  background-color: var(--active-yellow);
  color: var(--opacity-white);
}

/* About */

.about {
  border-bottom: 2px solid var(--basic-grey);
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  margin-top: 40px;
  align-content: flex-start;
}

.about-text {
  color: var(--text-grey);
  width: 660px;
}

.about-text .about-main {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);

  margin: 0;
  margin-top: 25px;
  margin-bottom: 32px;
}

.about-text .about-compentencies {
  margin-bottom: 23px;
  margin-top: 40px;
}

.about-text strong, .about-graph p, .about-graph dd {
  font-weight: 700;
  text-transform: uppercase;
}

.about-text li {
    margin-bottom: 23px;
}

.about-text li:before {
  content: "—";
  position: relative;
  padding-right: 12px;
  color: var(--basic-red);
}

.about-graph {
  width: 360px;
}

.about-graph img {
  width: 360px;
  height: 208px;
}

.about-graph p {
  text-align: center;
  margin-bottom: 31px;
  margin-top: 20px;
}

.about-graph-wrapper {
  display: flex;
}

.about-graph-wrapper dl {
  display: flex;
  flex-direction: column;
}

.about-graph-wrapper dt {
  color: var(--text-grey);
  line-height: 18px;
  order: 2;
}

.about-graph-wrapper dd {
  font-size: 45px;
  line-height: 64px;
  margin: 0;
}

.about-graph-wrapper sup {
  font-size: 26px;
  line-height: 40px;
}

/* Partners */

.partners-list {
  display: flex;
  justify-content: space-around;
  height: 180px;
  margin-bottom: 80px;
  border-bottom: 2px solid var(--basic-grey);
}

.partner-item {
  opacity: 0.2;
}

.partner-item:hover {
  opacity: 1;
}

.partner-item:active {
  opacity: 0.1;
}


/* Footer */

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.footer-contacts p {
  color: var(--additional-grey);
  line-height: 18px;
}

.footer-contacts .company-name {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
}

.footer-social ul {
  display: flex;
}

.footer-social li {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--social-grey);
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 11px;
}

.footer-social li:hover {
  background-color: var(--hover-red);
}

.footer-social li:active {
  background-color: var(--active-red);
  opacity: 0.3;
}

.social-button img {
  max-width: 100%;
  height: auto;
}

.social-promo h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  padding-bottom: 10px;
  vertical-align: top;
}

.social-promo p {
  color: var(--clarification-grey);
  line-height: 22px;
}

/* Modal */

.close img {
  width: 21px;
  height: auto;
  opacity: 0.3;
}

.close img:hover {
  opacity: 1;
}

.close img:active {
  opacity: 0.1;
}

.modal h2 {
  font-size: 45px;
  line-height: 52.73px;
  font-weight: 700;
}

.modal-label {
  line-height: 18px;
  font-weight: 700;
}

.modal-label input, .modal-label textarea {
  border-color: var(--input-grey);
}

.modal-label input::-webkit-input-placeholder, .modal-label textarea::-webkit-input-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input::-moz-placeholder, .modal-label textarea::-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:-moz-placeholder, .modal-label textarea:-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:hover, .modal-label textarea:hover {
  border-color: var(--input-grey-hover);
}

.modal-label input:hover::-webkit-input-placeholder, .modal-label textarea:hover::-webkit-input-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:hover::-moz-placeholder, .modal-label textarea:hover::-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:hover:-moz-placeholder, .modal-label textarea:hover:-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:focus, .modal-label textarea:focus {
  border-color: var(--basic-black);
}

.modal-label input:focus::-webkit-input-placeholder, .modal-label textarea:focus::-webkit-input-placeholder {
  color: var(--clarification-grey);
  opacity: 1;
}

.modal-label input:focus::-moz-placeholder, .modal-label textarea:focus::-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 1;
}

.modal-label input:focus:-moz-placeholder, .modal-label textarea:focus:-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 1;
}

/* Catalog page title*/

.catalog-page {
   display: grid;
   grid-template-columns: 260px 1fr;
   align-content: start;
}

.page-title {
  text-align: center;
  margin-bottom: 108px;
}

/* Filter */

.filter legend, .sort p:first-of-type, .project-popup h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter {
  color: var(--text-grey);
  font-size: 16px;
  line-height: 19px;
  margin-top: 55px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.filter fieldset:nth-child(1) {
  margin-bottom: 54px;
}

.filter fieldset:nth-child(2) {
  margin-bottom: 43px;
}

.filter fieldset:nth-child(3) {
  margin-bottom: 48px;
}

.filter legend {
  margin-bottom: 14px;
}

fieldset:first-child legend {
  margin-bottom: 48px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter .price {
  line-height: 22px;
  text-transform: uppercase;
}

.price input {
  background-color: var(--basic-grey);
}

/* Catalog page buttons*/

 .filter .button, .pagination-item .button{
  background-color: var(--basic-grey);
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 500;
}

.filter .button:hover, .pagination-item .button:hover {
  background-color: var(--hover-grey);
  color: var(--basic-black);
}

.filter .button:active, .pagination-item .button:active {
  background-color: var(--active-grey);
  color: var(--opacity-black);
}

.pagination {
  display: flex;
  justify-content: start;
  width: 460px;
  margin-left: 140px;
  margin-bottom: 60px;
}

.pagination-item .button {
  width: 50px;
  height: 50px;
  border-radius: 3px;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-right: 11px;
}

.next .button {
  width: 260px;
}

.sort {
  margin-left: 140px;
  margin-bottom: 55px;
  margin-top: 55px;

  display: flex;
  justify-content: flex-start;
}

.sort p {
  width: 360px;
  margin-right: 40px;
}

.sort-directions {
  display: flex;
  justify-content: flex-end;
  width: 40px;
  margin-left: 20px;
  align-items: center;
}

li .direction-type:last-child {
  margin-left: 18px;
}

.sort-type {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;

  }

.sort-type a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sort-type a:active {
  color: var(--basic-black);
  opacity: 1;
}

.direction-type path {
  fill: var(--interactive-grey);
  fill-opacity: 0.2;
}

.direction-type:hover path {
  fill: var(--interactive-grey);
  fill-opacity: 1;
}

.direction-type:active path {
  fill: var(--sort-grey);
  fill-opacity: 1;
}

.sort-kinds {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

/* Projects catalog */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  justify-content: flex-end;
}

.project-browser {
  opacity: 0.12;
}

.project-browser:hover {
  opacity: 1;
}

.project-item {
  width: 360px;
  min-height: 618px;
  margin-right: 42px;
  margin-bottom: 31px;
}

.project-item:nth-child(2n) {
  margin-right: 0;
}

.project-popup {
  background-color: var(--basic-grey);
  text-align: center;
  line-height: 18px;
  width: inherit;
  width: 360px;
  height: 231px;
}

.project-popup h3 {
  padding-top: 26px;
}

.project-popup .button {
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.project-popup .button:hover {
  background-color: var(--hover-red);
  color: var(--basic-white);
}

 .project-popup .button:active {
  background-color: var(--active-red);
  color: var(--opacity-white);
}

.project-popup h3:hover {
  color: var(--basic-red);
}

.project-popup h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}
