/* Variables */

:root {
--basic-black: #000000;
--opacity-black: rgba(0,0,0,0.3);

--basic-red: #FB565A;
--hover-red: #E74246;
--active-red: #D7373B;

--basic-green: #00CA74;
--hover-green: #00BC6C;
--active-green: #00AA62;

--basic-yellow: #EFC849;
--hover-yellow: #EAB534;
--active-yellow: #E5A722;

--basic-grey: #EEEEEE;
--hover-grey: #DFDFDF;
--active-grey: #D5D5D5;

--interactive-grey: #A6A6A6;
--text-grey: #283136;
--social-grey: #E1E1E1;
--clarification-grey: #444444;
--additional-grey: #666666;
--toggler-grey: #ABABAB;
--border-grey: #C4C4C4;
--sort-grey: #231F20;
--input-grey: #D7DCDE;
--input-grey-hover: #B4B9BB;

--basic-white: #FFFFFF;
--opacity-white: rgba(255,255,255,0.3);
}

/* Global */

body {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: *var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content min-content;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.non-displayed {
  display: none;
}

/* Grid */

.page {
  height: 100%;
}


/* Button */

.button {
  color: var(--basic-white);
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--hover-red);
}

.button:active {
  background-color: var(--active-red);
  color: var(--opacity-white);
}

/* Header */

.main-header, .slider {
  background-color: var(--basic-grey);
}

.main-header-logo:active path {
  fill: var(--interactive-grey);
}

/* Main-navigation */

.main-navigation {
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.site-navigation {
  margin: 0;
  padding: 0;
}

/* User-navigation */

.site-navigation a, .cart {
  color: var(--basic-black);
}

.site-navigation a:hover, .cart:hover {
  color: var(--basic-red);
}

.site-navigation a:active, .cart:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Slider */
.slider-item {
  display: none;
}

.slider-item.displayed {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1160px;
  margin-left:  auto;
  margin-right: auto;
}

.slider-item-text {
  color: var(--text-grey);
}

.slider-item-tagline, .page-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

/* Products */

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 90px;
  width: 1160px;
  margin-left:  auto;
  margin-right: auto;
  border-bottom: 2px solid var(--basic-grey);
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.products-item p {
  color: var(--text-grey);
}

.button-applications {
  background-color: var(--basic-green);
}

.button-applications:hover {
  background-color: var(--hover-green);
}

.button-applications:active {
  background-color: var(--active-green);
  color: var(--opacity-white);
}

.button-presentations {
  background-color: var(--basic-yellow);
}

.button-presentations:hover {
  background-color: var(--hover-yellow);
}

.button-presentations:active {
  background-color: var(--active-yellow);
  color: var(--opacity-white);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1160px;
  margin-left:  auto;
  margin-right: auto;
  border-bottom: 2px solid var(--basic-grey);
}

.about-text {
  color: var(--text-grey);
}

.about-text .about-main {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: var(--basic-black);
}

.about-text strong, .about-graph p, .about-graph dd {
  font-weight: 700;
  text-transform: uppercase;
}

.about-text li:before {
  content: "—";
  position: relative;
  padding-right: 12px;
  color: var(--basic-red);
}

.about-graph dt {
  color: var(--text-grey);
  line-height: 18px;
}

.about-graph dd {
  font-size: 45px;
  line-height: 64px;
}

.about-graph sup {
  font-size: 26px;
  line-height: 40px;
}

/* Partners */

.partners-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 1160px;
  margin-left:  auto;
  margin-right: auto;
}

.partner-item {
  opacity: 0.2;
}

.partner-item:hover {
  opacity: 1;
}

.partner-item:active {
  opacity: 0.1;
}


/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1160px;
  margin-left:  auto;
  margin-right: auto;
}

.footer-contacts p {
  color: var(--additional-grey);
  line-height: 18px;
}

.footer-contacts .company-name {
  color: var(--basic-black);
  font-weight: 700;
  text-transform: uppercase;
}

.footer-social li {
  width: 81px;
  height: 81px;
  border-radius: 50%;
  background-color: var(--social-grey);
  justify-content: center;
  display: flex;
  align-items: center;
}

.footer-social li:hover {
  background-color: var(--hover-red);
}

.footer-social li:active {
  background-color: var(--active-red);
  opacity: 0.3;
}

.social-button img {
  max-width: 100%;
  height: auto;
}

.social-promo h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.social-promo p {
  color: var(--clarification-grey);
  line-height: 22px;
}

/* Modal */

.close img {
  width: 21px;
  height: auto;
  opacity: 0.3;
}

.close img:hover {
  opacity: 1;
}

.close img:active {
  opacity: 0.1;
}

.modal h2 {
  font-size: 45px;
  line-height: 52.73px;
  font-weight: 700;
}

.modal-label {
  line-height: 18px;
  font-weight: 700;
}

.modal-label input, .modal-label textarea {
  border-color: var(--input-grey);
}

.modal-label input::-webkit-input-placeholder, .modal-label textarea::-webkit-input-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input::-moz-placeholder, .modal-label textarea::-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:-moz-placeholder, .modal-label textarea:-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:hover, .modal-label textarea:hover {
  border-color: var(--input-grey-hover);
}

.modal-label input:hover::-webkit-input-placeholder, .modal-label textarea:hover::-webkit-input-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:hover::-moz-placeholder, .modal-label textarea:hover::-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:hover:-moz-placeholder, .modal-label textarea:hover:-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 0.5;
}

.modal-label input:focus, .modal-label textarea:focus {
  border-color: var(--basic-black);
}

.modal-label input:focus::-webkit-input-placeholder, .modal-label textarea:focus::-webkit-input-placeholder {
  color: var(--clarification-grey);
  opacity: 1;
}

.modal-label input:focus::-moz-placeholder, .modal-label textarea:focus::-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 1;
}

.modal-label input:focus:-moz-placeholder, .modal-label textarea:focus:-moz-placeholder {
  color: var(--clarification-grey);
  opacity: 1;
}

/* Filter */

.filter legend, .products p:first-of-type, .product-popup h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter {
  color: var(--text-grey);
  font-size: 16px;
  line-height: 19px;
}

.filter .price {
  line-height: 22px;
  text-transform: uppercase;
}

.price input {
  background-color: var(--basic-grey);
}

/* Product catalog */

.product-browser {
  opacity: 0.12;
}

.product-browser:hover {
  opacity: 1;
}

li.product-item {
  width: 360px;
}

.product-popup {
  background-color: var(--basic-grey);
  text-align: center;
  line-height: 18px;
  width: inherit;
}

.product-popup h3:hover {
  color: var(--basic-red);
}

.product-popup h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* Catalog page buttons*/

.catalog-page .button, .filter .button {
  background-color: var(--basic-grey);
  color: var(--basic-black);
  line-height: 18px;
  font-weight: 500;
}

.catalog-page .button:hover, .filter .button:hover {
  background-color: var(--hover-grey);
  color: var(--basic-black);
}

.catalog-page .button:active, .filter .button:active {
  background-color: var(--active-grey);
  color: var(--opacity-black);
}

.sort-type {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
}

.sort-type a:hover {
  color: var(--basic-black);
  opacity: 0.6;
}

.sort-type a:active {
  color: var(--basic-black);
  opacity: 1;
}

.direction-type path {
  fill: var(--interactive-grey);
  fill-opacity: 0.2;
}

.direction-type:hover path {
  fill: var(--interactive-grey);
  fill-opacity: 1;
}

.direction-type:active path {
  fill: var(--sort-grey);
  fill-opacity: 1;
}
